	/* center the whole content of the page */

	.wrapper {
			width: 80%;
			min-width:800px;
			margin:0 auto;

		}
	
	/* CSS-properties for header - logo section*/

	header {
			display:flex;
			justify-content: flex start;
			align-items: center;
			background-color: #E34F56;
		}

	.name {
			margin: 60px;
			font-family:courier;
			font-size:21px;
			font-weight: /*bold*/;
			color:white;
		}
			
		}

	.logo {
			float:left;
			margin:20px;
			border: 1px solid black;
		}

		/* CSS-properties for Navigation */

	ul {
			list-style: none;
			display:flex;
			justify-content: flex-start;
			box-sizing: border-box;
			background: #838685;			
			padding : 0 10px;
			margin:5px 0px;
			
		}

	li {
			margin: 0 10px 0 10px;
			padding : 10px 0px;
			border:1px solid transparent;


			
		}

	li:hover {
			border:1px solid #757877;
		}

	.menu_items a {
			text-decoration: none;
			font-family:courier;
			font-size:17px;
			padding:5px;
			color:white;
		}
		
	.menu_items a:active {
			color:#f2f2f2;
			font-weight: bold;

		}
		
		/* css propteries for content section */

	.row {
			margin-top:15px;
			display:flex;
			width:100%;
			min-height:350px;
			justify-content: space-between;
		}

	.colu {
			width:47%;			
			
		}

	.content_pic {
			width:100%;

			margin:auto;
		}

		.content_pic:hover{
			opacity:0.5;
		}


		.bildtext a {
			text-decoration: none;
			font-family: verdana;
			font-size:18px;
			padding:5px;
			color:#1a1a1a;
		}

		.bildtext a:active {
			color:#272827;
			font-weight: bold;
		}

		.bildtext a:hover {
			text-decoration: underline;
			font-family: verdana;
			font-size:18px;
			padding:5px;
			color:#000000;
		}
					 

		/* css properties of about_me.html */

		h2 {
			margin:0;
			text-align:center;
			font-family: courier;

		}

		.content-box {
			width:100%;
			border: 1px solid black;
			display:flex;
			
		}

		.about_text {
			font-family: courier;
		}

		.feature {
			
			margin-top:5px;
			
			display:flex;
			justify-content: center;
			align-items: center;
			
		}

		#profile_pic {
			margin: 15px;
			border-radius: 50%;
			padding:0;
			}

		#profile_pic:hover{
			opacity:0.5;
		}

		/*css properties for blog.html*/

		.colu_blog {
			width:100%;
		}

		/*css properties for contact.html*/

		.colu_contact {
			width: 100%;
			
		}

		.contact_text {
			font-family: courier;
			font-size:20px;
			text-align: center;
			font-weight:bold;
		}



		/* css properties of footer section*/



		.copyright {
			height: 80px;
			margin-top: 16px;
			background-color: #E34F56;
			display:flex;
			justify-content: center;
			align-items: center;
			font-family: verdana;
		}

		#copyright {
			font-size:19px;
		}

	
